name: Publish Release

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build release
      run: cargo build --release

    - name: Get version from Cargo.toml
      id: version
      run: |
        VERSION=$(grep -m 1 "^version" Cargo.toml | cut -d '"' -f 2)
        echo "VERSION=v$VERSION" >> $GITHUB_ENV

    - name: Find release binary
      id: binary
      run: |
        BINARY_PATH=$(find target/release -type f -executable | head -n 1)
        BINARY_NAME=$(basename "$BINARY_PATH")
        echo "BINARY_PATH=$BINARY_PATH" >> $GITHUB_ENV
        echo "BINARY_NAME=$BINARY_NAME" >> $GITHUB_ENV

    - name: Rename binary
      run: |
        mv "${{ env.BINARY_PATH }}" "gliror_amd_${{ env.VERSION }}"
        echo "RENAMED_BINARY=gliror_amd_${{ env.VERSION }}" >> $GITHUB_ENV

    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./gliror_amd_${{ env.VERSION }}
        asset_name: gliror_amd_${{ env.VERSION }}
        asset_content_type: application/octet-stream